.slider {
  height: 25px;
  width: 170px;
  margin: 0.5em;
  opacity: 0.7;
  transition: opacity 0.2s;
  align-self: center;
}

.range-slider {
  display: grid;
  justify-items: center;
}

.slider_button {
  font-size: inherit;
  border-radius: 1em;
}

.slider_box {
  display: grid;
  grid-template-columns: auto auto auto;
}

.date_value {
  font-weight: 700;
  margin-bottom: -0.3em;
}
